[Desktop Entry]
Encoding=UTF-8
Name=Link to http://se.moevm.info/doku.php/courses:artificial_neur..
Type=Link
URL=http://se.moevm.info/doku.php/courses:artificial_neural_networks
Icon=text-html
Name[en_US]=Link to Искусственные нейронные сети
